.container{
display: flex;
width: calc(100% - 117px);

height: auto;
overflow-y: auto;
overflow-x: hidden;
padding-bottom: 50px;
position: relative;
@media all and (max-width:500px){
    width: calc(100% - 60px);
}


.page{
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
}

.fond_bottom{
display: block;
position: absolute;
bottom: 0px;
left: 50%;
transform: translateX(-90%);
width: 40%;
z-index: -1;
}
.apparels{
display: block;
position: absolute;
top: 50%;
right:0%;
transform: translateX(35%) translateY(-50%);
width: 22%;
z-index: -1;
}

}